<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h2>Terjemahan Dan Lirik Lagu The Smiths - Please, Please, Please, Let Me Get What I Want</h2>
</body>
    <title>LIRIK LAGU </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer> 
        &copy; Yosep Yoga Jalu Pamungkas
        <p>&copy; 2023 Universitas Kristen Duta Wacana.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
